nav, aside{
    height: 800px;
    float : left;
    width: 13%;
}
article{
    float: left;
    width: 68%;
}
footer{
    clear: both;
}

header, article, nav, aside, footer{
    border-radius: 10px;
}