:root{
    --amaranth : #B7094C;
    --jazzberry : #A01A58;
    --amaranthMP : #892B64;
    --palatinate : #723C70;
    --cyberGrape : #5C4D7D;
    --bdazzledBlue : #455E89;
    --sapphireBlue : #2E6F95;
    --CGBlue : #1780A1;
    --blueMunsell : #0091AD;
}

html {
    scroll-behavior: smooth;
}

.floating{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.boxed{
    width: 80%;
    height: auto;
    position: relative;
    top: 6.5vh;
    padding: 5%;
    margin: 3%;
}

.boxed.floating{
    border-radius: 5px;
}

.pointer{
    cursor: pointer;
}

.rounded{
    border-radius: 5px;
}

.responsive{
    width: 90%;
    height: auto;
}

.bg-grape{
    background-color: var(--cyberGrape) !important;
}

.bg-blueMunsell{
    background-color: var(--blueMunsell) !important;
}
.bg-jazzberry{
    background-color: var(--jazzberry) !important;
}
.bg-bdazzledBlue{
    background-color: var(--bdazzledBlue) !important;
}

.bg-sapphire{
    background-color: var(--sapphireBlue) !important;
}
.bg-amaranthMP{
    background-color: var(--amaranthMP) !important;
}

.cl-amaranth{
    color: var(--amaranth) !important;
}
.cl-CGBlue{
    color: var(--CGBlue) !important;
}

.panel{
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 99.1vw;
    height: 105vh;
}

.flex-centering{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.flex-v-centering{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.f-title{
    font-size: 8vh;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    
}

.competences{
    margin-top: 2vh;
}

#experiences > div > .f-title{
    margin-bottom: 10%;
}

#offcanvasRightLabel.f-title{
    font-size: 7vh !important;
    text-decoration: underline;
}

.f-subtitle{
    font-size: 4.5vh !important;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;

}

.f-text{
    font-size: 2.5vh !important;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

.i-title{
    font-size: 5vh !important;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

.i-text{
    font-size: clamp(0.8rem, 0.2655rem + 0.8621vw, 1.3rem) !important;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

.img-rounded{
    border-radius: 10px;
}

.img-holder{
    width: 50%;
    height: 75% !important;
}

.img-element{
    width: 100% !important;
    height: 100% !important;
}

.logo{
    height: 18vh !important;
}

body{
    overflow-x: hidden;
    color:whitesmoke;
}

#hero{
    color: whitesmoke;
}

img.exp, .img-exp{
    height:150px;
    width: 100%;
  }

  .card-block.exp{
      width: 100%;
      height: 100%;
  }
  
  div.exp [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }
  .card.exp{
    transition:0.5s;
  }
  .card-title.exp{  
    font-size:15px;
    transition:1s;
  }
  .card-title.exp i{  
    font-size:15px;
    transition:1s;
    color:#ffa710
  }
  .card-title.exp i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card.exp:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text.exp{
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    padding: 0% 10% 0% 5%;
  }
  
  .card.exp::before, .card.exp::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
  }
  .card.exp::before {
    transform-origin: left top;
  }
  .card.exp::after {
    transform-origin: right bottom;
  }
  .card.exp:hover::before, .card.exp:hover::after, .card.exp:focus::before, .card.exp:focus::after {
    transform: scale3d(1, 1, 1);
  }


.f-centering{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.scrollable-y{
    overflow-y: scroll;
}

.i-lottie{
    width: clamp(15rem, -1.0345rem + 25.8621vw, 23em) !important;
    margin-top: 2%;
}

/* #loisirs div > .f-title{
    margin-top: 3% !important;
} */

#footer{
    color: whitesmoke;
}

@media screen and (max-width: 991px) {
    .f-title{
        font-size: clamp(1.5rem, -1.7692rem + 7.6923vw, 3rem) !important;
    }
    #experiences > div > .f-title{
        margin-bottom: 0%
    }
    .f-subtitle{
        font-size: clamp(1rem, -1.0769rem + 5.7692vw, 2.5rem) !important;
    }
    .i-title{
        font-size: clamp(0.5rem, -0.8846rem + 3.8462vw, 1.5rem) !important;
    }
    .i-text{
        font-size: clamp(0.5rem, -0.0538rem + 1.5385vw, 0.9rem) !important;
    }
    .c-text, .card-text{
        font-size: clamp(0.7rem, -0.1308rem + 2.3077vw, 1.3rem) !important;
    }

    .exp.card-text{
        font-size: clamp(0.5rem, -0.1308rem + 2.3077vw, 1rem) !important;
    }

    .img-holder{
        margin-top: 17%;
        width: 35% !important;
    }

    .logo{
        height: clamp(4rem, -4.3077rem + 23.0769vw, 10rem) !important;
        width: clamp(4rem, -4.3077rem + 23.0769vw, 10rem) !important;
    }
    .card-block.exp{
        height: 75% !important;
        margin-top: 16%;
    }

    .img-exp, .exp.responsive{
        display: none;
    }
    .f-centering{
        display: block;
    }

    .i-lottie{
        display: none;
    }

}




/* 
CSS pour la page Liens Utiles
*/

.pcard{
    border-radius: 15px;
    height: clamp(25rem, 18.319rem + 10.7759vw, 31.25rem) !important;
    width: clamp(12.5rem, 5.819rem + 10.7759vw, 18.75rem) !important;
    color: var(--blueMunsell);
    background-color: whitesmoke;
    position: relative;
    display: flex;
    justify-content: center;

    animation-name: hideCard;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

figure .pcard-img{
    border-radius: 15px;
    width: 100% !important;
    height: 100% !important;
    padding: 5%;
}

figure:hover{
    animation-name: showCard;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes showCard {
    from{
        filter: brightness(50%);
        transform: translate(0%,0%);
    }
    to{
        filter: brightness(100%);
        transform: translate(-0.5%, -2%);
    }
}
@keyframes hideCard {
    to{
        filter: brightness(50%);
        transform: translate(0%,0%);
    }
    from{
        filter: brightness(100%);
        transform: translate(-0.5%, -2%);
    }
}

figure .pcard-title{
    position: absolute;
    text-align: center;
    bottom: 10%;
    font-size: clamp(0.8rem, 0.4634rem + 1.9512vw, 1.4rem);
    margin-bottom: 10%;
}
figure .pcard-text{
    position: absolute;
    text-align: center;
    bottom: 0.5%;
    font-size: clamp(0.5rem, 0.2195rem + 1.626vw, 1rem);
}
