:root{
    --amaranth : #B7094C;
    --jazzberry : #A01A58;
    --amaranthMP : #892B64;
    --palatinate : #723C70;
    --cyberGrape : #5C4D7D;
    --bdazzledBlue : #455E89;
    --sapphireBlue : #2E6F95;
    --CGBlue : #1780A1;
    --blueMunsell : #0091AD;
}

html {
    scroll-behavior: smooth;
}

.floating{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.boxed{
    width: 80%;
    height: auto;
    margin-bottom: 10vh;
    position: relative;
    top: 8vh;
    padding: 2vh;

}

.pointer{
    cursor: pointer;
}

.rounded{
    border-radius: 5px;
}

.responsive{
    width: 90%;
    height: auto;
}

.bg-grape{
    background-color: var(--cyberGrape) !important;
}

.bg-blueMunsell{
    background-color: var(--blueMunsell) !important;
}
.bg-jazzberry{
    background-color: var(--jazzberry) !important;
}
.bg-bdazzledBlue{
    background-color: var(--bdazzledBlue) !important;
}

.bg-sapphire{
    background-color: var(--sapphireBlue) !important;
}
.bg-amaranthMP{
    background-color: var(--amaranthMP) !important;
}

.cl-amaranth{
    color: var(--amaranth) !important;
}
.cl-CGBlue{
    color: var(--CGBlue) !important;
}

.panel{
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 99.1vw;
    height: 105vh;
}

.f-title{
    font-size: 8vh !important;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}
.f-subtitle{
    font-size: 4.5vh !important;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;

}

.f-text{
    font-size: 2.5vh !important;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

.img-rounded{
    border-radius: 10px;
}

.logo{
    height: 18vh !important;
}

body{
    overflow-x: hidden;
}
